/* styles.css */
.todoItem {
    /* display: flex;  */ /* flex is default for view elem in react native so removed */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.todoItemText {
    flex: 1; /* Allow text to take up remaining space */
    margin-right: 8px;
    color: #333;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.deleteButton {
    background-color: #ff6347; 
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}